<div class="row">
  <div class="col col-md-8">
    <div class="header">
      <p><a href="#"><font size="3">NEW AND NOTABLE</font></a>
      <button routerLink="movies" class="btn btn-dark" type="button" name="button">MOVIES</button>
      <button routerLink="games" class="btn btn-dark" type="button" name="button">Games</button>
      <button routerLink="tv" class="btn btn-dark" type="button" name="button">TV</button>
      <button routerLink="music" class="btn btn-dark" type="button" name="button">Music</button></p>
    </div>
    <br>
    <div class="new">
      <div class="section row">
        <div class="col col-md-10">
        </div>
        <div class="col col-md-2">
          <a id="more" routerLink="movies"><strong>See more >></strong></a>
        </div>
      </div>
      <div class="image row">
        <div class="col col-md" *ngFor="let thumb of thumbs | async">
          <img src="{{thumb.imgString}}">
        </div>
      </div>
      <div class="row titles">
        <div class="col col-md" *ngFor="let thumb of thumbs | async">
          <a routerLink="movies">{{thumb.title}}</a>
        </div>
      </div>
    </div>
    <div class="mg row">
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><strong><font size=3>Movies</font></strong></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies | async">
              <th scope="row"><a routerLink="movies">{{movie.title}}</a><br><font color="grey">{{movie.rating}}</font></th>
              <th [class]="scoreColor(movie)" scope="row">{{movie.metascore}}</th>
            </tr>
            <tr>
              <th scope="row"><a routerLink="movies">All New Movies>></a></th>
            </tr>
        </table>
      </div>
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><strong><font size=3>Games</font></strong></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games | async">
              <th scope="row"><a routerLink="games">{{game.title}}</a><br><font color="grey">{{game.platform}}</font></th>
              <th [class]="scoreColor(game)" scope="row">{{game.metascore}}</th>
            </tr>
            <tr>
              <th scope="row"><a routerLink="games">All New Games>></a></th>
            </tr>
        </table>
      </div>
    </div>
    <div class="tm row">
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><strong><font size=3>TV</font></strong></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let show of shows | async">
              <th scope="row"><a routerLink="tv">{{show.title}}</a><br><font color="grey">{{show.channel}}</font></th>
              <th [class]="scoreColor(show)" scope="row">{{show.metascore}}</th>
            </tr>
            <tr>
              <th scope="row"><a routerLink="tv">All New TV>></a></th>
            </tr>
        </table>
      </div>
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><strong><font size=3>Music</font></strong></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let album of albums | async">
              <th scope="row"><a routerLink="music">{{album.title}}</a><br><font color="grey">{{album.artist}}</font></th>
              <th [class]="scoreColor(album)" scope="row">{{album.metascore}}</th>
            </tr>
            <tr>
              <th scope="row"><a routerLink="music">All New Music>></a></th>
            </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="ads" class="col col-md-4">
    <p>ADS GO HERE</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
