#ads {
  border: 1px solid black;
  min-height: 1000px;
}
a{
  color: black;
}
a:hover {
  color: gold;
  text-decoration: none;
}
.btn {
  border-radius: 20px;
  font-size: 10px;
}
.header {
  border-bottom: 1px solid grey;
  max-width: 650px;
}
.new {
  border: 1px solid black;
  max-width: 650px;
  min-height: 300px;
  background-color: beige;
  padding: 5px;
}
img {
  border-top: 30px;
  border: 12px solid black;
  border-bottom: 50px solid black;
}
#more {
  float: right;
  font-size: 10px;
}
.section {
  min-height: 80px;
}
.titles {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.mg, .tm {
  max-width: 680px;
  font-size: 11px;
}
.table {
  background-color: beige;
}
