<div class="row">
  <div class="col col-md-8">
    <div class="header">
      <p><a href="#"><font size="3">NEW AND NOTABLE</font></a>
      <button class="btn btn-dark" type="button" name="button">MOVIES</button>
      <button class="btn btn-dark" type="button" name="button">Games</button>
      <button class="btn btn-dark" type="button" name="button">TV</button>
      <button class="btn btn-dark" type="button" name="button">Music</button></p>
    </div>
    <br>
    <div class="new">

    </div>
    <div class="row">
      <div class="movies col col-md">

      </div>
      <div class="games col col-md">

      </div>
    </div>
    <div class="row">
      <div class="tv col col-md">

      </div>
      <div class="music col col-md">

      </div>
    </div>
  </div>
  <div id="ads" class="col col-md-4">
  
  </div>
</div>
