<div class="row">
  <div class="col col-md-8">
    <div class="header">
      <p><a href="#"><font size="3">NEW AND NOTABLE</font></a>
      <button class="btn btn-dark" type="button" name="button">MOVIES</button>
      <button class="btn btn-dark" type="button" name="button">Games</button>
      <button class="btn btn-dark" type="button" name="button">TV</button>
      <button class="btn btn-dark" type="button" name="button">Music</button></p>
    </div>
    <br>
    <div class="new">
      <div class="section row">
        <div class="col col-md-10">
        </div>
        <div class="col col-md-2">
          <a id="more" href="#">See more >></a>
        </div>
      </div>
      <div class="image row">
        <div class="col col-md" *ngFor="let thumb of thumbs">
          <img src="{{thumb.imgString}}">
        </div>
      </div>
      <div class="row titles">
        <div class="col col-md" *ngFor="let thumb of thumbs">
          <a href="#">{{thumb.title}}</a>
        </div>
      </div>
    </div>
    <div class="mg row">
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Movies</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies">
              <th scope="row"><a href="#">{{movie.title}}</a><br>{{movie.rating}}</th>
            </tr>
            <tr>
              <th scope="row">All New Movies>></th>
            </tr>
        </table>
      </div>
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Games</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games">
              <th scope="row"><a href="#">{{game.title}}</a><br>{{game.platform}}</th>
            </tr>
            <tr>
              <th scope="row">All New Games>></th>
            </tr>
        </table>
      </div>
    </div>
    <div class="tm row">
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">TV</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let show of shows">
              <th scope="row"><a href="#">{{show.title}}</a><br>{{show.channel}}</th>
            </tr>
            <tr>
              <th scope="row">All New TV>></th>
            </tr>
        </table>
      </div>
      <div class="movies col col-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Music</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let album of albums">
              <th scope="row"><a href="#">{{album.title}}</a><br>{{album.artist}}</th>
            </tr>
            <tr>
              <th scope="row">All New Music>></th>
            </tr>
        </table>
      </div>
    </div>


  </div>
  <div id="ads" class="col col-md-4">

  </div>
</div>
