<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=''><img src="./assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

  </button>
  <form class="form-inline">
    <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
  </form>
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="movies">
          <font color="black">Movies</font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="games">
          <font color="black">Games</font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tv">
          <font color="black">TV</font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="music">
          <font color="black">Music</font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><font color="black">Reports</font></a>
      </li>
      <li id="account" class="nav-item">
        <a class="nav-link" href="#"><font color="black">+Create Account</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><font color="black">Login</font></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
