<br>
<h4>EDITORS' PICKS</h4>
<div class="row">
  <div class="col col-md" *ngFor="let media of editorMedia">
    <div class="picks">
      <br>
      <a href="#"><img class="image" src="{{media.imgString}}"></a>
      <a href="#"><img class="rating" src="{{media.subImg}}"></a>
      <a href="#"><p class="score">{{media.metascore}}</p></a>
      <br>
      <a href="#">{{media.title}}</a>
      <br>
      <a class="descrip" href="#"><font size="1">{{media.description}}</font></a>
    </div>
  </div>
</div>
